$lg: 1199px;
$md: 1023px;
$sm: 767px;
$smm: 373px;

/* Colors */
$white: #ffffff;
$black: #000000;
$yellow: #FFDD00;
$grey: #f6f6f6;
$grey-medium: #e6e6e6;
$grey-dark: #6f6f6f;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;